argparse
streamlit>=1.28
streamlit-chat
openai
tiktoken
numpy
backoff
wonderwords
python-dotenv
asyncio
aiohttp
pandas
tabulate
geocoder
scipy
termcolor
pandas
matplotlib
seaborn
plotly
datasets
markdown
python-docx
python-dotenv
psutil
transformers
fuzzywuzzy[speedup]
sentence_transformers
promptflow-azure
promptflow-evals